.notification {
  position: fixed;
  right: 50px;
  left: 50px;
  bottom: 50px;
  border-radius: 16px;
  color: #ffffff;
  font-size: 30px;
  font-weight: 800;
  line-height: 1.2;
  background-color: #998f00;
  padding: 32px;
  z-index: 1000;
  opacity: 0;
  transform: translateY(100%);
  transition: transform 0.5s ease, opacity 0.5s ease;

  @media (max-width: 1024px) {
    right: 40px;
    left: 40px;
    bottom: 40px;
    font-size: 24px;
  }

  @media (max-width: 768px) {
    right: 30px;
    left: 30px;
    bottom: 30px;
  }

  @media (max-width: 680px) {
    right: 16px;
    left: 16px;
    bottom: 16px;
    font-size: 18px;
    padding: 12px 24px;
  }

  &_show {
    opacity: 100%;
    transform: translateY(0);
  }

  &_success {
    padding-right: 76px;
    background: #00992b url('/img/check.svg') right 32px center / 36px no-repeat;
  }

  @media (max-width: 680px) {
    padding-right: 56px;
    background-position: right 24px center;
    background-size: 24px;
  }

  &_error {
    background-color: #990000;
  }
}
